/* 代码块折叠 */
figure.highlight {
  background: #21252b;
  border-radius: 0.5rem;
}
figure.highlight table {
  border-radius: 0 0 0.5rem 0.5rem;
}
figure.highlight > i {
  color: #777;
  margin-left: 10px;
  line-height: 2rem;
  transform: rotate(90deg);
  transition: transform 0.2s ease-in-out;
}
figure.highlight > i.collapsed {
  transform: rotate(0deg);
}
figure.highlight > span {
  color: #777;
  margin-left: 5px;
  font-size: 0.875rem;
}
figure.highlight td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
}
figure.highlight > i:before {
  content: "\f2c3";
}

/* 复制 */
.copy-btn {
  top: 5px;
  font-size: 0.875rem;
}
.copy-btn > i {
  font-size: 0.875rem;
}
.copy-btn-dark {
  color: #2f4f4f;
}

/* 动画 */

#board {
  -webkit-animation: avia-btt 1s 1 ease-in;
  animation: avia-btt 1s 1 ease-in;
  opacity: 1;
}

@keyframes avia-btt {
  0% {
    transform: translate(0, 2%);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
